h1,
p {
    text-align: center;
}

.box1 {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 10px;
}

.box {

    display: flex;

    justify-content: center;
}

.btn0 {
    background-color: chocolate;
}

.btn1 {
    background-color: aquamarine;
}

.btn2 {
    background-color: darkmagenta;
}

.btn3 {
    background-color: darkslateblue;
}